@import "settings/settings";

@import "functions/_functions";

@import "mixins/clearfix";

@import "mixins/_mixins";


.o-rhythm {

    &__container {
        @include clearfix();
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        &.-hide {
            overflow: hidden;
        }

        @media (max-width: 1280px) {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 20px;

            &.-full-bleed {
                padding: 0;
            }
        }

        &.-fluid {
            max-width: none;
            width: 94%;
            padding: 0 3%;
        }
    }

    &__row {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;

        &.-space-above {

            @media (max-width: 1024px) {
                margin-top: 60px;
            }
        }

        &.-space-between {
            justify-content: space-between;
        }

        &.-border-bottom {
            padding-bottom: 10px;
            border-bottom: 2px solid #222222;

            &.-short {
                border-bottom: none;

                .o-rhythm__col:first-child {
                    border-bottom: 2px solid #222222;
                }
            }

            .o-rhythm__col.-y-align-center {
                align-self: flex-end;

                h4 {

                    @media (max-width: 1024px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__col {
        width: 100%;
        &.-span-one {
            @include span-col(1);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-two {
            @include span-col(2);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-three {
            @include span-col(3);

            @include respond-to(medium) {
                @include span-col(4);
            }

            @include respond-to(small) {
                @include span-col(12);
            }
        }

        &.-span-md-three {
            @include span-col(3);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-four {
            @include span-col(4);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-five {
            @include span-col(5);

            @include respond-to(medium) {
                @include span-col(8);
            }

            @include respond-to(small) {
                @include span-col(12);
            }
        }

        &.-span-six {
            @include span-col(6);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-seven {
            @include span-col(7);

            @include respond-to(medium) {
                @include span-col(7);
            }

            @include respond-to(small) {
                @include span-col(12);
            }
        }

        &.-span-eight {
            @include span-col(8);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-nine {
            @include span-col(9);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-ten {
            @include span-col(10);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-eleven {
            @include span-col(11);

            @include respond-to(medium) {
                @include span-col(12);
            }
        }

        &.-span-twelve {
            @include span-col(12);
        }

        &.-push-one {
            @include push-col(1);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-two {
            @include push-col(2);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-three {
            @include push-col(3);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-four {
            @include push-col(4);

            @include respond-to(medium) {
                @include push-col(4);
            }

            @include respond-to(small) {
                @include push-col(0);
            }
        }

        &.-push-five {
            @include push-col(5);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-six {
            @include push-col(6);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-seven {
            @include push-col(7);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-eight {
            @include push-col(8);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-nine {
            @include push-col(9);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-ten {
            @include push-col(10);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-push-eleven {
            @include push-col(11);

            @include respond-to(medium) {
                @include push-col(0);
            }
        }

        &.-y-align-top {
            align-self: flex-start;
        }

        &.-y-align-center {
            align-self: center;
        }

        &.-y-align-bottom {
            align-self: flex-end;
        }

        &.-justify-right {
            text-align: right;

            @include respond-to(medium) {
                text-align: left;
            }
        }

        &.-justify-center {
            text-align: center;
        }
    }
}