@function calc-col-width($col, $grid: $grid-grid) {
    $grid-cols: map-get($grid, "columns");
    $col-gutter: map-get($grid, "gutter");

    $width-gutter: calc-gutter-width($col);

    @if ($col-gutter == 0) {
        @return percentage($col / $grid-cols);
    }
    @if ($col-gutter > 0) {
        $width: percentage($col / $grid-cols);
        @return calc(#{$width} - #{$width-gutter});
    }
}
